/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color:#eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}
 header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1, nav {
  display: inline;
}

nav a {
  display: inline-flex;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

.cap1 {
display: ;  
}
.image-circle {
  float: left;
  margin-left: 100px;
}

.item1{
text-align: left;  
}

section {
  text-align: left;
}

div.image1, .image2, .image3 {
  vertical-align:top;
  display:inline-block;
  text-align: center;
  width: 120px;
}

img {
  width: 100px;
  height: 100 px;
}

.caption {
  display: block;
}

.cap2 {
float: left;  
text-align: center;
padding: 14px 16px;
}

img {
  display: block;
}

header{
  text-align: center;
}

footer{
  text-align: center;
}
/* Set the font family for any h1, h2, or h3 heading */
h1{
  font-family: Georgia, 'Times New Roman', Times, serif ;
  font-size: 40px;
  color: #003049;
  text-align: center;
}
h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  color: #003049;
  text-align: center;
}
h3 {
  font-family: "Playfair Display", Times, serif;
  font-size: 20px;
  color: #003049;
  text-align: center;
}
h4{
  font-family: "Playfair Display", Times, serif;
  font-size: 12px;
  color: #003049;
  text-align: center;
  
}
p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  color: #003049;
  text-align: center;
}
a:link{t
  color:#d62828;
}
a:hover{
  color:#f77f00;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

p {
  line-height: 1.5;
}

/* The div container constrains the content width within the main container to 600px */
div {
  margin: auto;
  width: 600px;
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

hr {
  border: 1px solid black;
}

/* Add your solution below */

.image-circle {
  border-radius: 50%;
  border-image-width: 2px;
  border-image-color:#003049;
}
